<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Faces</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/styles.css') }}">
</head>

<body>
    <section style="align:center;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Face Recognition Training</h1>
            </div>
        </div>
        <div class="row" style="max-width:900px;text-align:center;">
            <div class="col">
                <p>This program pics a random image from a set list and then searches through the image for faces. It cuts out each face and places an input box next to it with the placeholder set to whoever it thinks is in the image. If you leave the input box blank, nothing will be changed. If you type a name into the input box, the face will be added to the database under that name.</p>
                <p>As the program is looking through the photos for faces on each page load, it can take as much as <b>30 seconds</b> for the page to load.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center"><a class="btn btn-primary" role="button" href="/pic">Go</a></div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col text-center">
                <a class="github-button" href="https://github.com/avt613" data-size="large" aria-label="Follow @avt613 on GitHub">Follow @avt613</a>
            </div>
        </div>
    </section>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>
